# .clang-tidy
Checks: "clang-analyzer-*,bugprone-*,modernize-*,performance-*,readability-*,
  -readability-identifier-naming,-readability-identifier-length,
  -modernize-use-trailing-return-type,-modernize-use-nodiscard,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -bugprone-narrowing-conversions"

WarningsAsErrors: "*"

HeaderFilterRegex: ".*"

CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: "NULL"
